body{
    background: #1f1f1f;
    color: #fff;
    font-family: 'Roboto', serif;
}

.mbta-container{
    margin-top: 10%;
    border: solid 2px #fff;
    background: #333;
    display: flex;
    height: 25em;
}

.map-container{
    margin: auto;
    width: 75%;
    border: solid 5px #fff;
    height: 25em;
}

.map-container iframe{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.row.secondary {
    margin-top: 2%;
    width: 100%;
}

.drop-label {
    text-align: left;
    padding-left: 2%;
}

.result-table {
    width: 100%;
    margin-bottom: 1%;
}

.result-table, th, .col{
    border: 2px solid white;
}

td {
    padding: 10px;
    vertical-align: top;
}

th {
    text-align: center;
}

.mbta-inner {
    margin: auto;
}

.dropdown {
    color: black;
}

input{
    margin-bottom: 1em;
    width: 162px;
    color: black;
}

form{
    margin-top: 30px;
    text-align: center;
}

.invalid-input{
    padding-top: 3%;
    text-align: center;
}

.origin {
	color: green;
}

.dest {
	color: #ff2424;
}

strong{
    color: #ff0000;
}

weak {
	opacity: 0.5;
	color: #7d7d7d;
}

#map {
    height: 92%;
}

#floating-panel {
    text-align: center;
    line-height: 30px;
}
