{% include "realtime/_layout.html" %}
<body>
<div class="container">
<div class="row main">
    <div class="mbta-container main-center">
        <div class="mbta-inner">
            <h1 class="mbta-header">MBTA Real-Time Tracker</h1>

            {% if error_message %}<h4 class="invalid-input"><strong>{{ error_message|linebreaksbr }}</strong></h4>{% endif %}

            <form action="{% url 'submit' %}" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="drop-label">
                                    <label class="origin">Origin</label>
                                </div>
                                <label for="origin-dropdown"></label>
                                <select name="origin" type="dropdown" class="dropdown" id="origin-dropdown">
                                    <option selected>Select origin station</option>
                                    {% for station in stations %}
                                        <option value="{{ station.id }}" for="station{{ station.id }}">{{ station.name }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="drop-label">
                                    <label class="dest">Destination</label>
                                </div>
                                <label for="destination-dropdown"></label>
                                <select name="destination" type="dropdown" class="dropdown" id="destination-dropdown">
                                    <option selected>Select destination station</option>
                                    {% for station in stations %}
                                        <option value="{{ station.id }}" for="station{{ station.id }}">{{ station.name }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>


                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
</div>
</body>
